Prodigy_Employment/WebApplication1/Web References/localhost1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TempJobsWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TempJobsWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfJobSeeker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobSeeker" nillable="true" type="tns:JobSeeker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobSeeker" nillable="true" type="tns:ArrayOfJobSeeker" />
  <xs:complexType name="JobSeeker">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternativeContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformalSkills" nillable="true" type="tns:ArrayOfInformalSkill" />
      <xs:element minOccurs="0" name="JobApplications" nillable="true" type="tns:ArrayOfJobApplication" />
      <xs:element minOccurs="0" name="JobInvitations" nillable="true" type="tns:ArrayOfJobInvitation" />
      <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImage_String" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResidentialAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tools_Equipments" nillable="true" type="tns:ArrayOfTools_Equipment" />
      <xs:element minOccurs="0" name="isAvailable" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobSeeker" nillable="true" type="tns:JobSeeker" />
  <xs:complexType name="ArrayOfInformalSkill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformalSkill" nillable="true" type="tns:InformalSkill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformalSkill" nillable="true" type="tns:ArrayOfInformalSkill" />
  <xs:complexType name="InformalSkill">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobSeeker" nillable="true" type="tns:JobSeeker" />
      <xs:element minOccurs="0" name="JobSeekerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillID" type="xs:int" />
      <xs:element minOccurs="0" name="SkillLevel" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformalSkill" nillable="true" type="tns:InformalSkill" />
  <xs:complexType name="ArrayOfJobApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobApplication" nillable="true" type="tns:JobApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobApplication" nillable="true" type="tns:ArrayOfJobApplication" />
  <xs:complexType name="JobApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="tns:Job" />
      <xs:element minOccurs="0" name="JobID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JobSeeker" nillable="true" type="tns:JobSeeker" />
      <xs:element minOccurs="0" name="JobSeekerID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobApplication" nillable="true" type="tns:JobApplication" />
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employer" nillable="true" type="tns:Employer" />
      <xs:element minOccurs="0" name="EmployerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobApplications" nillable="true" type="tns:ArrayOfJobApplication" />
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToBePaid" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
  <xs:complexType name="Employer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternativeContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobInvitations" nillable="true" type="tns:ArrayOfJobInvitation" />
      <xs:element minOccurs="0" name="Jobs" nillable="true" type="tns:ArrayOfJob" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImage_String" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResidentialAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employer" nillable="true" type="tns:Employer" />
  <xs:complexType name="ArrayOfJobInvitation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobInvitation" nillable="true" type="tns:JobInvitation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobInvitation" nillable="true" type="tns:ArrayOfJobInvitation" />
  <xs:complexType name="JobInvitation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employer" nillable="true" type="tns:Employer" />
      <xs:element minOccurs="0" name="EmployerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JobInvitationID" type="xs:int" />
      <xs:element minOccurs="0" name="JobSeeker" nillable="true" type="tns:JobSeeker" />
      <xs:element minOccurs="0" name="JobSeekerID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobInvitation" nillable="true" type="tns:JobInvitation" />
  <xs:complexType name="ArrayOfJob">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Job" nillable="true" type="tns:Job" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJob" nillable="true" type="tns:ArrayOfJob" />
  <xs:complexType name="ArrayOfTools_Equipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tools_Equipment" nillable="true" type="tns:Tools_Equipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTools_Equipment" nillable="true" type="tns:ArrayOfTools_Equipment" />
  <xs:complexType name="Tools_Equipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobSeeker" nillable="true" type="tns:JobSeeker" />
      <xs:element minOccurs="0" name="JobSeekerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tool_EquipmentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tools_Equipment" nillable="true" type="tns:Tools_Equipment" />
  <xs:complexType name="ArrayOfEmployer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employer" nillable="true" type="tns:Employer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployer" nillable="true" type="tns:ArrayOfEmployer" />
</xs:schema>