Prodigy_Employment/WebApplication1/Web References/localhost1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45678/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TempJobsWcf" />
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AlternativeContactNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResidentialAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProfileImage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterEmployerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterJobSeeker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AlternativeContactNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResidentialAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProfileImage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterJobSeekerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
        <xs:element minOccurs="0" name="CanLogin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginJobSeeker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginJobSeekerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
        <xs:element minOccurs="0" name="CanLogin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
        <xs:element minOccurs="0" name="CanLogin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllJobseekers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllJobseekersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="AllJobseekersResult" nillable="true" type="q3:ArrayOfJobSeeker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleJobseeker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleJobseekerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="SingleJobseekerResult" nillable="true" type="q4:JobSeeker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="SingleEmployerResult" nillable="true" type="q5:Employer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobSeeker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobSeekerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeJobSeekerPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeJobSeekerPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="success" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmployerPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmployerPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="success" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SkillLevel" type="xs:int" />
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreSkillsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="ReadSkillsResult" nillable="true" type="q6:ArrayOfInformalSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumberOfDaysRequired" type="xs:int" />
        <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToBePaid" type="xs:double" />
        <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="AllJobsResult" nillable="true" type="q7:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyForJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobID" type="xs:int" />
        <xs:element minOccurs="0" name="JobseekerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyForJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="getApplicantsResult" nillable="true" type="q8:ArrayOfJobSeeker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobApplicationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobApplicationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewToolOrEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewToolOrEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveToolOrEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tool_equipementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveToolOrEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToolsAndEquipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToolsAndEquipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="GetToolsAndEquipmentsResult" nillable="true" type="q9:ArrayOfTool_Equipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
        <xs:element minOccurs="0" name="JobSeekerID" type="xs:int" />
        <xs:element minOccurs="0" name="JobID" type="xs:int" />
        <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllReportJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllReportJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="AllReportJobsResult" nillable="true" type="q10:ArrayOfReportJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByEmployer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="OrderByEmployerResult" nillable="true" type="q11:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="OrderByJobResult" nillable="true" type="q12:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByJobType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByJobTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TempJobsWcf" minOccurs="0" name="OrderByJobTypeResult" nillable="true" type="q13:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>