Prodigy_Employment/WebApplication1/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1546/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1546/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1546/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TempJobsWcf" />
      <xsd:import schemaLocation="http://localhost:1546/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrationDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationDatabase" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrationDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LgnUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LgnUser" />
  </wsdl:message>
  <wsdl:message name="IService1_LgnUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LgnUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserNameCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:UserNameCheck" />
  </wsdl:message>
  <wsdl:message name="IService1_UserNameCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserNameCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StoreSkills_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreSkills" />
  </wsdl:message>
  <wsdl:message name="IService1_StoreSkills_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreSkillsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadSkills_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadSkills" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadSkills_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadSkillsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ImageToBase64String_InputMessage">
    <wsdl:part name="parameters" element="tns:ImageToBase64String" />
  </wsdl:message>
  <wsdl:message name="IService1_ImageToBase64String_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImageToBase64StringResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrationDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegistrationDatabase" message="tns:IService1_RegistrationDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrationDatabaseResponse" message="tns:IService1_RegistrationDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LgnUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LgnUser" message="tns:IService1_LgnUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LgnUserResponse" message="tns:IService1_LgnUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserNameCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserNameCheck" message="tns:IService1_UserNameCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserNameCheckResponse" message="tns:IService1_UserNameCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadEmployees" message="tns:IService1_ReadEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadEmployeesResponse" message="tns:IService1_ReadEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreSkills">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StoreSkills" message="tns:IService1_StoreSkills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StoreSkillsResponse" message="tns:IService1_StoreSkills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadSkills">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadSkills" message="tns:IService1_ReadSkills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadSkillsResponse" message="tns:IService1_ReadSkills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImageToBase64String">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ImageToBase64String" message="tns:IService1_ImageToBase64String_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ImageToBase64StringResponse" message="tns:IService1_ImageToBase64String_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrationDatabase">
      <soap:operation soapAction="http://tempuri.org/IService1/RegistrationDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LgnUser">
      <soap:operation soapAction="http://tempuri.org/IService1/LgnUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameCheck">
      <soap:operation soapAction="http://tempuri.org/IService1/UserNameCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreSkills">
      <soap:operation soapAction="http://tempuri.org/IService1/StoreSkills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSkills">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadSkills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageToBase64String">
      <soap:operation soapAction="http://tempuri.org/IService1/ImageToBase64String" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1546/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>