Prodigy_Employment/TempJobs_Website/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TempJobsWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TempJobsWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfUserdata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Userdata" nillable="true" type="tns:Userdata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserdata" nillable="true" type="tns:ArrayOfUserdata" />
  <xs:complexType name="Userdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alternativeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authinticationLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="contactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Userdata" nillable="true" type="tns:Userdata" />
</xs:schema>